form {
  width: 100%;
  margin-inline: 0 !important;
  padding-inline: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
/*   background-color: #555; */

}

.hero-bg {
  height: 70vh;
  display: flex;
  flex-direction: column;
  background-image: url(src/assets/residency.avif);
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

.input-containers {
  flex: 1;
  width: 100%;
  background-color: rgba(43, 120, 187, 0.534);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  display: block;
  height: 20vh;
/*   box-shadow: 0px 5px 25px var(--shadow-color); */
  background-color: rgba(240, 248, 255, 0.534);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  text-align: center;
  border: solid 1px var(--primary-color);
  padding: 10px;
  border-radius: 8px;
  margin-inline: 0 !important;
  display: inline-block;
  width: 15vw;
}



button {
  padding: 10px;
/*   border: solid 1px var(--primary-color); */
  background: var(--primary-color);
  color: white;
  border-radius: 18px;
  margin-inline: 0 !important;
  margin-top: 2vh;
  width: 15vw;
}

.results {
/*     display: grid; *//* 
    column-gap: 14px;
    row-gap: 14px; */
/*     grid-template-columns: repeat(auto-fill, minmax(32.5vw, 600px)); */
/*     grid-template-columns: repeat(auto-fill, 300px);
    gap: 10px;
    justify-content: space-around; */
    margin-top: 2vh;
    column-count: 5;
    column-gap: 1em;
  }
  

  
  @media (min-width: 500px) and (max-width: 768px) {
    .results {
        grid-template-columns: repeat(2, 1fr);
    }
    input[type="text"] {
        width: 70%;
    }   
  }
  
  @media (max-width: 499px) {
    .results {
        grid-template-columns: 1fr;
    }    
  }